html{
  line-height: 1.5;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 0 0;
    height: fit-content;
    width: 100vw;
    /* background-image:url(https://i.pinimg.com/originals/3e/b5/73/3eb5737b2e9660e44038307cef9103c6.gif); */
    
  
}
header{
  box-sizing: border-box;
  height: fit-content;
  }
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 400;
    height:fit-content;
    width: 100vw;
    /* -webkit-transform: rotate(5000deg);
    -webkit-transition-property: all;
    -webkit-transition-duration: 500s; */

  }
.side-1{
width: 50vw;
height: fit-content;
position: absolute;
left: 0;
  }
.side-2{
width: 50vw;
height:fit-content;
position: absolute;
right: 0;

}

.timeTable{
    font-size: 20px;
    position: absolute;
    top:75px;
    left: 373px;
    opacity: 0.6;
}  
#clock{
  font-size: 20px;
  position: absolute;
  top:75px;
  left: 277px;
  opacity: 0.6;
  
  }
.weektext{
  font-size: 20px;
  position: absolute;
  top:75px;
  left: 500px;
  opacity: 0.6;
}
.hexlet-logo{
width: 100px; 
height: 23px;  
margin-top: 25px;
display: inline;
margin-left: 278px ;
margin-bottom: 10px;
}
.topSeparator{
  width: 70%;
}
.middleSeparator{
margin-top: 20px;
width:95%;
margin-left: 27px;
}

hr{
  border: none;
  opacity: 0.2;
  height: 0px;
  border-top: 1px solid black;
}

h2 {
  text-align: center;
  margin-top: 120px;
}
#group-schedule{
  display: flex;
  flex-direction: row; 
  height: fit-content;
  width: fit-content;
  margin-top: 15px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}
  button{
    border-radius: 10px;
    font-size:20px;
    border:none;
    width: 170px;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
    background-color: white;

  }
  button:hover{
    -webkit-box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.19);
-moz-box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.19);
box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.19);
    }

  .menu {
position: absolute;
left: 400px;
top:23px;

  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin: 0 20px;
  }
  .menu a {
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    opacity: 0.7;
  }
  .menu a:hover {
    border-bottom-color: #333;
  }
  
  @media (max-width: 768px) {
    .menu li {
      margin: 0 10px;
    }
  }

  .time {
    font-size: 30px;
  }
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
backdrop-filter: blur(15px);
}
/* Modal Content/Box */
.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  height: fit-content;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  grid-column-gap: 10px;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;

}

.schedule-item {
  width:170px;
  margin-bottom: 10px;
  
  background-color: #fff;
  border-radius: 10px;
  height: 130px;
padding: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
}
 .schedule-item:hover {
  -webkit-box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 14px 9px rgba(0, 0, 0, 0.19);
 } 

.schedule-item h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.schedule-item p {
  font-size: 18px;
  color: #333;
}
  

#game-board {
  margin-top: 150px;
  margin-left: 120px;
  --cell-size: 15vmin;
  --cell-gap: 2vmin;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: repeat(4, var(--cell-size));
  gap: var(--cell-gap);
  border-radius: 1vmin;
}
.cell {
  background-color: #444;
  border-radius: 1vmin;
}

.tile {
  --y:2 ;
  --x:2 ;
  position: absolute;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vmin;
  height: 15vmin;
  border-radius: 1vmin;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7.5vmin;
  font-weight: bold;
  background-color: hsl(25, 60%, var(--bg-lightness));
  color: hsl(25, 25%, var(--text-lightness));
  transition: 100ms;
  animation: show 200ms;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
  
.yarik{
position: absolute;
left: 0;
margin-top: 100px;
margin-left: 50px;
animation:slide1 5s;
}

.nik{
position: absolute;
right: 0;
margin-top: 100px;
margin-right: 50px;
animation:slide2 4s;
}

.platon{
position: absolute;
margin-left: 500px;
margin-top: 100px;
animation:slide3 5s;
}

.luk{
  position: absolute;
  margin-left: 950px;
  margin-top: 100px;
  animation:slide4 7s;
}

.yarikpic{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.nikpic{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.lukpic{
  width: 400px;
height: 400px;
border-radius: 20px;
}
.platonpic{
width: 400px;
height: 400px;
border-radius: 20px;
}

.authorsheader{
  text-align: center;
  font-size: 60px;
  animation: slide1 3s;
}

@keyframes slide1 {
  0% {
    transform: translateY(-200%) translateX(-200%) rotate(3600deg);
  }
  50%{
transform: translateY(100%) translateX(100%) rotate(-3600deg);
  }  

  100% {
    transform: translateY(0);
  }
}

@keyframes slide2 {
  0% {
    transform: translateY(-750%);
  }
  25%{
    transform: translateY(750%);
  }
  50%{
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide3 {
  0% {
    transform:translateY(-100%) translateX(-200%);
  }
  25%{
    transform:translateY(-100%) translateX(50%) rotateZ(45deg);
  }
  100% {
  }
}

@keyframes slide4 {
  0% {
    transform: translateX(400%) rotateZ(180deg);
  }
  25%{
  transform:translateX(0%) rotateZ(170deg);  
  }
  50%{
    transform:translateX(-20%) rotateZ(-180deg);  
  }
  100% {
    transform: rotateZ(0deg);
  }
}
                         